/*  your css code here. If applicable */
body {
	background: #cccccc;
	padding: 20px;
	display: grid;
	place-items: center;
}

.player_one {
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px;
	justify-content: center;
}

.player_one ul {
	list-style: none;
	padding-left: 0px;
}

.player_one a {
	text-decoration: none;
	color: black;
}

.player_two {
	background: white;
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px;
	justify-content: center;
}

.player_two h2 {
	margin-top: 0px;
	display: flex;
	justify-content: center;
}

.playedr_two audio {
	margin-top: 0px;
	text-align: left;
}